<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Actividad 1.3</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper blue-grey lighten-2">
          <a href="../index.html" class="brand-logo left">
            <img
              src="../img/udeg-removebg-preview (1).png"
              alt="logo"
              height="70"
              class="center"
            />
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./formulario.html" class="waves-effect waves-light btn"><i class="material-icons right">person</i>Registrate</a></li>
            <li><a href="./discrografia.html">Discografia</a></li>
            <li><a href="./libros.html">Libros</a></li>
            <li><a href="./videos.html">Videos</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <h1 class="header center white-text">Discografia</h1>
          <div class="row white-text">
            <span class="flow-text">
                José Madero Vizcaíno, más conocido como Pepe Madero es un cantante, músico, compositor, 
                productor, abogado, escritor y podcaster mexicano. Inició su carrera musical como vocalista 
                en la reconocida banda mexicana de rock PXNDX, desde su formación en 1996 hasta el anuncio de 
                su descanso indefinido en 2016.
            </span>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img
          src="../img/back.jpg"
          alt="back"
          height="800"
          style="transform: translate3d(-50%, 206.526px, 0px); opacity: 1"
        />
      </div>
    </div>
    <div class="container">
        <div id="carmesi" class="modal">
            <div class="modal-content section">
                <h5>Canciones</h5>
                <ol>
                    <li>Lunes 28</li>
                    <li>Con ustedes, la rocola humana</li>
                    <li>Literatura Rusa</li>
                    <li>No como el filme</li>
                    <li>Entre comillas</li>
                    <li>Plural siendo singular</li>
                    <li>Abril</li>
                    <li>Teo, el gato persa rinde su declaracion</li>
                    <li>Puerto partida (Soy un cobarde)</li>
                    <li>Sinmigo</li>
                    <li>El mundo de mi almohada</li>
                    <li>¿Apoco no?</li>
                    <li>Siempre tendremos Dallas</li>
                </ol>
            </div>
        </div>
        <div id="noche" class="modal">
            <div class="modal-content section">
                <h5>Canciones</h5>
                <ol>
                    <li>Noche de lluvia</li>
                    <li>Lo sobrenatural</li>
                    <li>MCMLXXX</li>
                    <li>Grandes Exitos</li>
                    <li>El ser supremo</li>
                    <li>Noche de brujas</li>
                    <li>Una nueva identidad</li>
                    <li>Fantasmas</li>
                    <li>Noche de Baile</li>
                    <li>¡Esta noche es la reunion!</li>
                    <li>Noche de discoteque</li>
                    <li>Sonambulos</li>
                    <li>Natt i Stickholm</li>
                </ol>
            </div>
        </div>
        <div id="alba" class="modal">
            <div class="modal-content section">
                <h5>Canciones</h5>
                <ol>
                    <li>Willkommen</li>
                    <li>Aun hay mas</li>
                    <li>Los de Septiembre</li>
                    <li>La celula no exploto</li>
                    <li>Caballeros britanicos</li>
                    <li>Ahora y hoy</li>
                    <li>No lo cambio por nada</li>
                    <li>Etrusco unico</li>
                    <li>Maldita rueda</li>
                    <li>Carrusel de adultos</li>
                </ol>
            </div>
        </div>
        <div id="psalmos" class="modal">
            <div class="modal-content section">
                <h5>Canciones</h5>
                <ol>
                    <li>Lamentable</li>
                    <li>Violencia</li>
                    <li>Chambelan (Nunca fui)</li>
                    <li>Codependientes</li>
                    <li>O discordia</li>
                    <li>Sin Ampersand</li>
                    <li>Padre nuestro</li>
                    <li>Tu dedo medio</li>
                    <li>SSDD</li>
                    <li>Cara o cruz</li>
                    <li>La dama y el moribundo</li>
                    <li>Imposible</li>
                </ol>
            </div>
        </div>
        <div id="giallo" class="modal">
            <div class="modal-content section">
                <h5>Canciones</h5>
                <ol>
                    <li>Quita esa cara</li>
                    <li>Soy el diluvio</li>
                    <li>Cantar de gesta</li>
                    <li>Quince mil dias</li>
                    <li>Cerraron chipinque</li>
                    <li>La herida</li>
                    <li>A tu merced</li>
                    <li>Nadie mas vendra</li>
                    <li>En vano</li>
                    <li>Providencia a la izquierda</li>
                    <li>Documentales</li>
                    <li>Siempre vos</li>
                    <li>Lo dorado desvanece</li>
                </ol>
            </div>
        </div>
        <h4 class="center section"> Presiona cada disco para conocer su tracklist</h4>
        <p class="divider"></p>
      <table class="highlight center">
        <thead>
          <tr>
            <th>Portada</th>
            <th>Disco</th>
            <th>Año</th>
            <th>Resumen</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <img
                src="../img/carmesi.jfif"
                alt="carmesi"
                class="hoverable responsive-img modal-trigger"
                href="#carmesi"
              />
            </td>
            <td>Carmesi</td>
            <td>2016</td>
            <td>
              Carmesí es el primer álbum de estudio de José Madero, quien fue
              vocalista de la banda mexicana de rock alternativo Panda desde su
              formación en 1996, hasta su descanso indefinido en 2016. Fue
              lanzado el 29 de abril del 2016 y fue certificado en octubre del
              mismo año como disco de oro por sus altas ventas.​​
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../img/noche.jfif"
                alt="carmesi"
                class="hoverable responsive-img modal-trigger"
                href="#noche"
              />
            </td>
            <td>Noche</td>
            <td>2017</td>
            <td>
              Noche es el segundo álbum de estudio de José Madero. Fue lanzado
              el 28 de julio de 2017​ y contiene trece canciones.​​​
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../img/alba.jfif"
                alt="carmesi"
                class="hoverable responsive-img modal-trigger"
                href="#alba"
              />
            </td>
            <td>Alba</td>
            <td>2018</td>
            <td>
              Alba es el nombre del tercer álbum de estudio de José Madero,
              lanzado el 16 de marzo de 2018 exclusivamente en formato digital y
              el 27 de abril del mismo año con una edición de copias físicas
              limitadas. El álbum contiene diez canciones.​
            </td>
          </tr>

          <tr>
            <td>
              <img
                src="../img/psalmos.jfif"
                alt="carmesi"
                class="hoverable responsive-img modal-trigger"
                href="#psalmos"
              />
            </td>
            <td>Psalmos</td>
            <td>2019</td>
            <td>
                Psalmos es el nombre del cuarto álbum de estudio de José Madero, lanzado el 6 de septiembre de 2019. 
                El álbum contiene 12 canciones y tiene un sonido más apegado al britpop, según palabras de su autor. ​​
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../img/giallo.jfif"
                alt="carmesi"
                class="hoverable responsive-img modal-trigger"
                href="#giallo"
              />
            </td>
            <td>Giallo</td>
            <td>2022</td>
            <td>
                Giallo es el quinto álbum de estudio de José Madero, ex-integrante de Panda. 
                Durante el otoño de 2020, el cantautor confirmó que ya se encontraba en el estudio de 
                grabación preparando esta quinta entrega a través de sus historias y publicaciones en Instagram.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $(".tooltipped").tooltip();
      $('.modal').modal();
      $('.parallax').parallax();
    });
  </script>
</html>
